body{
  margin:0;
  background:#000;
  color:#fff;
  font-family:Arial;
  display:flex;
  justify-content:center;
}

.inventario{
  width:1100px;
  padding:40px;
}

.titulo{
  text-align:center;
  color:#ff2a2a;
  letter-spacing:5px;
}

.barra{
  display:flex;
  justify-content:space-around;
  margin:30px 0;
}

.barra button{
  background:transparent;
  border:2px solid #ff2a2a;
  color:#ff2a2a;
  padding:10px 20px;
  cursor:pointer;
  transition:.3s;
}

.barra button:hover{
  background:#ff2a2a;
  color:#000;
}

.ejercicios{
  margin-top:20px;
}

.grupo{
  display:none;
  grid-template-columns:repeat(3,1fr);
  gap:25px;
}

.card{
  border:2px solid #ff2a2a;
  border-radius:15px;
  overflow:hidden;
  text-align:center;
  transition:.25s;
}

.card:hover{
  transform:scale(1.05);
  box-shadow:0 0 20px rgba(255,42,42,.6);
}

.card img{
  width:100%;
  height:160px;
  object-fit:cover;
}

.card p{
  padding:10px;
}


.btn-nav {
    display: inline-block; /* Cambiado a inline-block para que el ancho sea automático */
    margin: 30px auto;
    
    /* Tamaño controlado */
    width: fit-content;
    padding: 10px 25px;
    
    /* Estética Gym */
    background: transparent;
    border: 1px solid #ff2a2a;
    color: #ff2a2a !important; /* El !important asegura que no se vea azul */
    text-decoration: none;      /* Quita el subrayado */
    border-radius: 20px;
    
    /* Fuente y efectos */
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
}

.btn-nav:hover {
    background: #ff2a2a;
    color: #000 !important;
    box-shadow: 0 0 15px rgba(255, 42, 42, 0.6);
}
