

body{
    margin:0;
    font-family: 'Segoe UI', sans-serif;
    background:#000;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

/* CONTENEDOR PRINCIPAL */
.contenedor{
    width:800px;
    background:#0a0a0a;
    border:2px solid #ff0000;
    border-radius:20px;
    padding:40px;
    box-shadow:0 0 25px #ff0000;
    position:relative;
}

/* TITULO */
h2{
    text-align:center;
    color:#ffffff;
    margin-bottom:5px;
    letter-spacing:2px;
}

.texto{
    text-align:center;
    margin-bottom:30px;
    color:#ccc;
}

/* COLUMNAS */
.columnas{
    display:flex;
    gap:30px;
}

/* TARJETAS INTERNAS */
.resumen, .formulario{
    flex:1;
    padding:25px;
    border:1px solid #ffffff;
    border-radius:15px;
    background:#000;
}

/* TITULOS INTERNOS */
.resumen h3,
.formulario h3{
    color:white;
    margin-top:0;
    margin-bottom:20px;
}

/* TEXTO */
.resumen p{
    color:#ddd;
}

/* LABELS */
label{
    display:block;
    margin-top:15px;
    color:white;
}

/* INPUTS */
input{
    width:100%;
    padding:12px;
    margin-top:6px;
    background:#111;
    border:1px solid #ff0000;
    border-radius:10px;
    color:white;
    outline:none;
}

input:focus{
    box-shadow:0 0 10px #ff0000;
}

/* BOTONES */
.botones{
    margin-top:35px;
    text-align:center;
}

button{
    padding:12px 30px;
    margin:0 15px;
    border:none;
    border-radius:12px;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
}

/* CANCELAR */
.cancelar{
    background:#2b2b2b;
    color:white;
    border:1px solid #ff0000;
}

.cancelar:hover{
    box-shadow:0 0 15px #ff0000;
}

/* PAGAR */
.pagar{
    background:linear-gradient(45deg,#ff0000,#ff3c3c);
    color:white;
    box-shadow:0 0 20px #ff0000;
}

.pagar:hover{
    transform:scale(1.05);
    box-shadow:0 0 30px #ff0000;
}

/* MENSAJE */
.mensaje{
    margin-top:20px;
    text-align:center;
    color:#ff0000;
    font-weight:bold;
    display:none;
}

